
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1600px;
  width:100%;
  margin: 0 auto;
  font-family: 'Ubuntu Mono', monospace;
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  background-image: linear-gradient(to bottom,
                    rgba(255,255,255,0) 0%,
                    rgba(66, 66, 66, 1) 5%,
                    rgba(66, 66, 66, 1) 95%,
                    rgba(255,255,255, 0) 100%);
}

/* Container around content */
.container {
  margin: 10px 0;
  padding: 10px 40px;
  position: relative;
  width:50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #424242;
  background-color: #1e1e1e;
  right:-10px;
  top: 45px;
  border-radius: 50%;
  z-index: 1;
}

.container::focus {
  height:50em;
}

.timeline:first-child {
  padding-top:3em;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -14px;
}

/* The actual content */
.content {
  padding: 10px 15px;
  background-color: inherit;
  position: relative;
  border-radius: 0px;
  border: 1px solid #424242;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  color: white;
  background-color: #2e2e2e;
}

.date {
  content: '';
  position: absolute;
  z-index: 2;
  color: #5c5c5c;
}

.left > .date {
  right: -60px;
  top: 47px;
}

.right > .date {
  left: -60px;
  top: 47px;
}

.tech {
  display: inline;
}

/* Tech Items */
.tech > .white, .tech > .green, .tech > .blue{
  display:inline-block;
  border: 1px solid white;
  border-radius: .8em;
  padding: .2em .5em;
  word-break: keep-all;
  font-size: .8em;
}

/* Tech Colours */
/* White */
.tech > .white {
  background-color:rgba(255,255,255,0.2);
}

/* Blue */
.tech > .blue {
  background-color:rgba(0, 119, 255, 0.2);
}

/* Green */
.tech > .green {
  background-color: rgba(0,255,0,.2);
  color: rgb(100,200,100);
  border: 1px solid green;
}

.content > .title {
  font-size: 1.3em;
  padding-bottom: .2em;
  font-weight: bold;
  font-family: 'Ubuntu', Sans-Serif;
}

.content > .shortDescription {
  padding: .4em 0;
}

.hidden {
  display:none;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 31px;
    width: 39px;
    border: 1px solid white;
  }

  .content {
    margin-left:30px;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 17px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
  
  .left > .date {
    left: 50px;
    top: 47px;
  }

  .right > .date {
    left: 50px;
    top: 47px;
  }
}
